<h3 class="site-preview-heading">Outline</h3>
<button type="button" class="button button--outline">{{defaultText}}</button>
<button type="button" class="button button--outline-hover">{{hoverText}}</button>
<button type="button" class="button button--outline-active">{{activeText}}</button>
<button type="button" class="button button--outline focus">{{focusText}}</button>
<button type="button" class="button button--outline" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--outline-unstyled">{{unstyledText}}</button>

<h4>Navigation</h4>

<h5>Uppercase</h5>

<div class="nav-buttons">
  <button type="button" class="button button--outline button--nav-uppercase button--nav-previous">{{previousText}}</button>
  <button type="button" class="button button--outline button--nav-uppercase button--nav-next">{{nextText}}</button>
</div>

<h5>Lowercase</h5>
<div class="nav-buttons">
  <button type="button" class="button button--outline button--nav button--nav-previous">{{previousText}}</button>
  <button type="button" class="button button--outline button--nav button--nav-next">{{nextText}}</button>
</div>

<h4>Actions</h4>

<div class="proceeduttons">
  <button type="button" class="button button--outline button--action-confirm">{{proceedText}}</button>
  <button type="button" class="button button--outline button--action-cancel">{{cancelText}}</button>
</div>