<h3 class="site-preview-heading">Outline inverse</h3>
<div class="button--inverse-background">
  <button type="button" class="button button--outline-inverse">{{defaultText}}</button>
  <button type="button" class="button button--outline-inverse button--outline-inverse-hover">{{hoverText}}</button>
  <button type="button" class="button button--outline-inverse button--outline-inverse-active">{{activeText}}</button>
  <button type="button" class="button button--outline-inverse button--outline-inverse-focus focus">{{focusText}}</button>
  <button type="button" class="button button--outline-inverse button--outline-inverse" disabled="disabled">{{disabledText}}</button>
  <button type="button" class="button button--outline-inverse button--outline-inverse-unstyled">{{unstyledText}}</button>
</div>

<h4>Navigation</h4>

<h5>Uppercase</h5>

<div class="nav-buttons">
  <button type="button" class="button button--outline-inverse button--nav-uppercase-previous">{{previousText}}</button>
  <button type="button" class="button button--outline-inverse button--nav-uppercase-next">{{nextText}}</button>
</div>

<h5>Lowercase</h5>
<div class="nav-buttons">
  <button type="button" class="button button--outline-inverse button--nav-previous">{{previousText}}</button>
  <button type="button" class="button button--outline-inverse button--nav-next">{{nextText}}</button>
</div>

<h4>Actions</h4>

<div class="proceeduttons">
  <button type="button" class="button button--outline-inverse-action-confirm">{{proceedText}}</button>
  <button type="button" class="button button--outline-inverse-action-cancel">{{cancelText}}</button>
</div>