<h3 class="site-preview-heading">Accent cool color</h3>
<button type="button" class="button button--accent-cool">{{defaultText}}</button>
<button type="button" class="button button--accent-cool button--hover">{{hoverText}}</button>
<button type="button" class="button button--accent-cool button--active">{{activeText}}</button>
<button type="button" class="button button--accent-cool focus">{{focusText}}</button>
<button type="button" class="button button--accent-cool" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--accent-cool button--unstyled">{{unstyledText}}</button>
