<h3 class="site-preview-heading">Accent warm color</h3>
<button type="button" class="button button--accent-warm">{{defaultText}}</button>
<button type="button" class="button button--accent-warm button--hover">{{hoverText}}</button>
<button type="button" class="button button--accent-warm button--active">{{activeText}}</button>
<button type="button" class="button button--accent-warm focus">{{focusText}}</button>
<button type="button" class="button button--accent-warm" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--accent-warm button--unstyled">{{unstyledText}}</button>
