<h3 class="site-preview-heading">Accent cool color</h3>
<button type="button" class="button button--cool">{{defaultText}}</button>
<button type="button" class="button button--cool button--cool-hover">{{hoverText}}</button>
<button type="button" class="button button--cool button--cool-active">{{activeText}}</button>
<button type="button" class="button button--cool button--cool focus">{{focusText}}</button>
<button type="button" class="button button--cool" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--cool button--cool-unstyled">{{unstyledText}}</button>
<h4>Navigation</h4>

<h5>Uppercase</h5>

<div class="nav-buttons">
  <button type="button" class="button button--cool button--cool-nav-uppercase button--cool-nav-previous">{{previousText}}</button>
  <button type="button" class="button button--cool button--cool-nav-uppercase button--cool-nav-next">{{nextText}}</button>
</div>

<h5>Lowercase</h5>
<div class="nav-buttons">
  <button type="button" class="button button--cool button--cool-nav button--cool-nav-previous">{{previousText}}</button>
  <button type="button" class="button button--cool button--cool-nav button--cool-nav-next">{{nextText}}</button>
</div>

<h4>Actions</h4>

<div class="proceed-buttons">
  <button type="button" class="button button--cool button--cool-action-confirm">{{proceedText}}</button>
  <button type="button" class="button button--cool button--cool-action-cancel">{{cancelText}}</button>
</div>