<h3 class="site-preview-heading">Accent warm color</h3>
<button type="button" class="button button--warm">{{defaultText}}</button>
<button type="button" class="button button--warm button--warm-hover">{{hoverText}}</button>
<button type="button" class="button button--warm button--warm-active">{{activeText}}</button>
<button type="button" class="button button--warm button--warm focus">{{focusText}}</button>
<button type="button" class="button button--warm-disabled" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--warm button--warm-unstyled">{{unstyledText}}</button>


<h4>Navigation</h4>

<h5>Uppercase</h5>

<div class="nav-buttons">
  <button type="button" class="button button--warm button--warm-nav-uppercase button--nav-previous">{{previousText}}</button>
  <button type="button" class="button button--warm button--warm-nav-uppercase button--nav-next">{{nextText}}</button>
</div>

<h5>Lowercase</h5>
<div class="nav-buttons">
  <button type="button" class="button button--nav button--warm button--warm-nav-previous">{{previousText}}</button>
  <button type="button" class="button button--nav button--warm button--warm--next">{{nextText}}</button>
</div>

<h4>Actions</h4>

<div class="proceed-buttons">
  <button type="button" class="button button--warm button--warm-action-confirm">{{proceedText}}</button>
  <button type="button" class="button button--warm button--warm-action-cancel">{{cancelText}}</button>
</div>

