<h3>Big Buttons</h3>

<button type="button" class="button button--big">{{defaultText}}</button>
<button type="button" class="button button--big button--big-hover">{{hoverText}}</button>
<button type="button" class="button button--big button--big-active">{{activeText}}</button>
<button type="button" class="button button--big button--big-focus focus">{{focusText}}</button>
<button type="button" class="button button--big button--big-disabled" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--big button--big-unstyled">{{unstyledText}}</button>

<h4>Big Button Navigation</h4>

<h5>Uppercase</h5>

<div class="nav-buttons">
  <button type="button" class="button button--big button--big-nav-uppercase button--big button--big-nav-previous">{{previousText}}</button>
  <button type="button" class="button button--big button--big-nav-uppercase button--big button--big-nav-next">{{nextText}}</button>
</div>

<h5>Lowercase</h5>
<div class="nav-buttons">
  <button type="button" class="button button--big button--big-nav button--big button--big-nav-previous">{{previousText}}</button>
  <button type="button" class="button button--big button--big-nav button--big button--big-nav-next">{{nextText}}</button>
</div>

<h4>Actions</h4>

<div class="proceed-buttons">
  <button type="button" class="button button--big button--big-action-confirm">{{proceedText}}</button>
  <button type="button" class="button button--big button--big-action-cancel">{{cancelText}}</button>
</div>

<h4>Call to Action</h4>

<button type="button" class="button button--big button--big-cta">
  Sign up for my news letter!
</button>