<h3 class="site-preview-heading">Outline inverse</h3>
<div class="button--inverse-background">
  <button type="button" class="button button--inverse">{{defaultText}}</button>
  <button type="button" class="button button--inverse button--hover">{{hoverText}}</button>
  <button type="button" class="button button--inverse button--active">{{activeText}}</button>
  <button type="button" class="button button--inverse focus">{{focusText}}</button>
  <button type="button" class="button button--inverse" disabled="disabled">{{disabledText}}</button>
  <button type="button" class="button button--inverse button--unstyled">{{unstyledText}}</button>
</div>
