<h3>Default</h3>

<button type="button" class="button">{{defaultText}}</button>
<button type="button" class="button button--hover">{{hoverText}}</button>
<button type="button" class="button button--active">{{activeText}}</button>
<button type="button" class="button button--focus focus">{{focusText}}</button>
<button type="button" class="button button--disabled" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--unstyled">{{unstyledText}}</button>

<h4>Navigation</h4>

<h5>Uppercase</h5>

<div class="nav-buttons">
  <button type="button" class="button button--nav-uppercase button--nav-previous">{{previousText}}</button>
  <button type="button" class="button button--nav-uppercase button--nav-next">{{nextText}}</button>
</div>

<h5>Lowercase</h5>
<div class="nav-buttons">
  <button type="button" class="button button--nav button--nav-previous">{{previousText}}</button>
  <button type="button" class="button button--nav button--nav-next">{{nextText}}</button>
</div>

<h4>Actions</h4>

<div class="proceed-buttons">
  <button type="button" class="button button--action-confirm">{{proceedText}}</button>
  <button type="button" class="button button--action-cancel">{{cancelText}}</button>
</div>

