<h3>Default</h3>

<button type="button" class="button">{{defaultText}}</button>
<button type="button" class="button button--hover">{{hoverText}}</button>
<button type="button" class="button button--active">{{activeText}}</button>
<button type="button" class="button focus">{{focusText}}</button>
<button type="button" class="button" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--unstyled">{{unstyledText}}</button>
