<h3>Default</h3>

<button type="button" class="button button--default">{{defaultText}}</button>
<button type="button" class="button button--default-hover">{{hoverText}}</button>
<button type="button" class="button button--default-active">{{activeText}}</button>
<button type="button" class="button button--default-focus focus">{{focusText}}</button>
<button type="button" class="button button--default-disabled" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--default-unstyled">{{unstyledText}}</button>
