<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/main.css' }}">
    <title>Preview Layout</title>
</head>
<body>

{{{ yield }}}

<script src="{{ path '/js/fontfaceobserver.js' }}"></script>
<script src="{{ path '/js/prism.js' }}"></script>
</body>
</html>
<!-- href="{{ path '/css/main.css' }} -->